.praise-regular {
    font-family: "Praise", cursive;
    font-weight: 400;
    font-style: normal;
}

.ranga-regular {
    font-family: "Ranga", cursive;
    font-weight: 400;
    font-style: normal;
}

.ranga-bold {
    font-family: "Ranga", cursive;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: robotoo, condensed;
    padding: 25px;
    font-weight: 500;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    font-family: roboto, condensed;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    font-family: roboto, condensed;
}

p {
    font-size: 16px;
    font-weight: 500;
    font-family: roboto;
}

.billboard {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/Desktop\ Home.PNG);
    background-size: 1058px 450px;
    background-position: center center;
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
}

.summary {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.overview {
    height: 101px;
    width: 404px;
    margin-right: 20px;
}

ul {
    padding: 0px;
}

li {
    font-weight: 500;
    font-size: 16px;
    list-style-type: none;
    font-family: roboto;
}

.mobileHome {
    height: 403px;
    width: 250px;
}

.margin50 {
    margin-top: 50px;
}

.margin20 {
    margin-top: 20px;
}

.margin10 {
    margin-top: 10px;
}

.tools {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.tools img {
    height: 50px;
    width: 50px;
}

.explanation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.problem {
    width: 404px;
    height: 127px;
    margin-right: 20px;
}

.solution {
    width: 404px;
    height: 127px;
}

.credits {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    text-align: right;
}

.persona {
    display: flex;
    flex-direction: column;
    width: 828px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardSort {
    display: flex;
}

.siteMap {
    display: flex;
}

.prototype {
    display: flex;
    flex-direction: column;
    width: 828px;
    align-items: center;
}

.wireframing {
    width: 828px;
}

.collage {
    width: 828px;
}

.collage img {
    display: flex;
    width: 580px;
    height: 300px;
}

.above {
    margin-left: 250px;
    margin-top: -150px;
}

.nav {
    display: flex;
    flex-direction: column;
    width: 828px;
}

.userTests {
    width: 828px;
}

.styleGuide {
    width: 828px;
}

.styleguideImg {
    display: flex;
    width: 828px;
    justify-content: center;
}

.finalSite {
    display: flex;
    flex-direction: column;
    width: 828px;
}

.mobileRunThrough {
    display: flex;
    align-items: center;
}

.finalPrototype {
    display: flex;
    flex-direction: column;
    width: 828px;
}

.finalThoughts {
    display: flex;
    flex-direction: column;
    width: 828px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
    width: 1200px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

footer li {
    font-size: 16px;
    font-weight: 600;
}

.footerNav {
    display: flex;
    margin-right: 20px;
}

.footerNav h2 {
    text-decoration: underline;
}