.billboard {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/Desktop\ Home.PNG);
    background-size: 1058px 450px;
    background-position: center center;
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
}
 